.links {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.links a {
    color: black;
    text-align: center;
    background-color: var(--grey-300);
    width: 90vw;
    padding: 1rem 0rem;
    border-radius: .5rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: -webkit-transform 450ms;
    transition: transform 450ms;
    transition: transform 450ms, -webkit-transform 450ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


.links a:hover {
    background-color: var(--grey-400);
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
}

.icon__links {
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


@media screen and (min-width : 1000px) {
    .links a {
        font-size: 1.125rem;
        width: 75vw;
    }
}